@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}
:root{
--font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
--font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
--fz-xxs: 12px;
--fz-xs: 13px;
--fz-sm: 14px;
--fz-md: 16px;
--fz-lg: 18px;
--fz-xl: 20px;
--fz-xxl: 22px;
--fz-heading: 32px;
--border-radius: 4px;
--nav-height: 100px;
--nav-scroll-height: 70px;
--tab-height: 42px;
--tab-width: 120px;
--easing: cubic-bezier(0.645,0.045,0.355,1);
--transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
--hamburger-width: 30px;
--ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
--ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
--ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
--ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}
@keyframes delay {
  0%, 40%, 100% { 
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
body {
  background: #010c2c;
  font-family: var(--font-sans);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: var(--fz-l);
}
  
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.navMenu {
  position: absolute;
  top: 5%;
  left: 60%;
  margin-right: 0px;
}
.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display:flexbox;
  flex-direction: row;
  width: 80%;
  padding-right: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-sans);
}
.navMenu a:hover {
  color: #fddb3a;
}
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(115px);
  transform: translateX(115px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(210px);
  transform: translateX(210px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


.social-buttons {
  position: fixed;
  left: 3rem;
  top: 20rem;
  display: flex;
  flex-direction: column;
}
.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.social-buttons a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #a3a1a1, #0f0f0f);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}
.social-buttons a:hover::before {
  transform: scale(0);
}
.social-buttons li:nth-child(3)::after{
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: aqua;
}
.social-buttons a i {
  transition: 0.3s ease-in;
}
.social-buttons a:hover i {
  background: linear-gradient(45deg, #a3a1a1, #0f0f0f);
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
.social-buttons ul {
  list-style-type: none;
}


svg {
  width: 100%;
  height: 100%;
  fill: rgb(221, 211, 211);
  vertical-align: middle;
  padding-left: 17px;
  padding-top:18px;
}
svg :hover{
  fill: yellow ;
}



.heading {
  margin: 0px;
  margin-top: 0px;
  font-size: clamp(40px, 4vw, 80px);
  margin: 0px 0px 10px;
  font-weight: 600;
  font-family: var(--font-mono);
}
#about .heading::after{
  content: "";
  display: block;
  position: relative;
  top: -18px;
  width: 300px;
  height: 1px;
  margin-left: 180px;
  background-color: aqua;
}
.main {
  margin: 100px 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%; 
  font-family: var(--font-sans);
}



.resume-link{
  color: aqua;
  background-color: transparent;
  border: 1px solid aqua;
  padding: 1rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--font-sans);;
}
.resume-div :hover{
  color:yellow;
  border-color: yellow;
  font-weight:600;
}



.section {
  padding: 50px 200px;
  text-align: left;
  color: gray;
  font-family:var(--font-mono);
  margin-top: 100px;
}
.section .heading {
  font-size: var(--fz-heading);
  color: white;
}



#experience-timeline p:nth-child(1)::before{
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: aqua;
}
#experience .heading::after{
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: 350px;
  height: 1px;
  margin-left: 250px;
  background-color: aqua;
}
#experience {
  margin-left: 200px;
  font-family: var(--font-mono);
}
#experience ul{
  list-style-type: none;
  margin-top:20px;
}
#experience li{
  margin-top:10px;
}
#experience li::before{
  content: "▹";
  color: rgb(74, 226, 231);
  font-size:120%;
  line-height: 2%;
  margin-right: 2%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: left;
  }
.sidebar button {
  background-color:  #010c2c;
  color: gray;
  padding: 10px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: medium;
  font-weight: 100;
  border-left: 3px solid ;
  border-top: 0px none;
  border-bottom: 0px none;
  border-right: 0px none;
  font-family: var(--font-mono);
  outline: none;
}
.sidebar button :hover{
  color: yellow;
}
.tabular-view{
    display: flex;
    flex-direction: row;
    width: 85%;
  } 
.jobs-panel{
  margin-left: 20px;
}


.skill-list{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 5px 10px;
  left:0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.skill-list li::before{
  content: "▹";
  color: rgb(74, 226, 231);
  font-size:100%;
  line-height: 1%;
  margin-right: 8%;
}


.education-block {
	max-width: 700px;
	margin: 0 auto 30px auto;
	padding: 15px;
	border: 1px solid #dcd9d9;
	text-align: left;
  font-family: var(--font-sans);
}
#education .heading::after{
  content: "";
  display: block;
  position: relative;
  top: -18px;
  width: 63%;
  height: 1px;
  margin-left: 180px;
  background-color: aqua;
}
.education-block h3 {
	font-weight: 500;
	float: left;
	margin: 0;
}
.education-block span {
	color: #74808a;
	float: right
}
.education-block h4 {
	clear: both;
	font-weight: 500;
	margin: 0 0 15px 0
}


#contact {
  font-family: var(--font-mono);
  margin-top: 200px;
  margin-bottom: 200px;
	visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
footer{
  font-family: var(--font-sans);
  font-size: var(--fz-xs);
  text-align: center;
}


/* Additional demo display styles for carsoul */

.card{
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;

}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
}

.carousel-container{
  margin-left: 180px;
  margin-right: 100px;
}
.carousel-container img {
  height: 200px;
  width: 300px;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 10fr));
  grid-gap: 2rem;
  max-width: 100%;
  width: 120ch;
  margin-top: 100px;
}

.icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style: none;
  width:150px;
  color: yellow;
  margin-left: 200px;
}
.icons a {
  text-decoration: none;
  font-size: 15px;
  width: 10px;
  height: 60px;
  margin: 2px 0;
}

